body{
    margin:0;
   
}

#wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}

#wrapper section{
    color: rgb(46, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

section:nth-child(1){
    width: fit-content;
    height: fit-content;
    background-color: rgb(251, 250, 252);
    box-sizing: border-box;    
    margin-top: 3%;
    border:3px solid rgb(128, 240, 29);
    box-shadow: 5px 5px 12px rgb(141, 240, 43),-5px -5px 12px rgb(170, 252, 63);  
}

.container-dice{
    display: flex;
    justify-content: space-around;
}
.dice{
    border: 2px solid rgb(6, 6, 6);
    background-color: aliceblue; 
    border-radius: 10px;
    margin-top:1rem;
    margin-bottom: 1rem; 
    margin-left: 10px;
    margin-right: 10px;
    padding:1rem;
    display: grid;
    grid-template: repeat(3,2rem)/repeat(3,2rem);
}
.dice aside{
    background-color: black;
    border-radius: 50px;

}

.dice aside:nth-child(1){ grid-area: aside-1;}
.dice aside:nth-child(2){ grid-area: aside-2;}
.dice aside:nth-child(3){ grid-area: aside-3;}
.dice aside:nth-child(4){ grid-area: aside-4;}
.dice aside:nth-child(5){ grid-area: aside-5;}
.dice aside:nth-child(6){ grid-area: aside-6;}

.dots-1{
    grid-template-areas: 
    ". . ."
    ". aside-1 ."
    ". . .";
}

.dots-2{
    grid-template-areas: 
    "aside-1  . ."
    ". . ."
    ". . aside-2";
}   

.dots-3{
    grid-template-areas:
    "aside-1 . ."
    ". aside-2 ."
    ". . aside-3";
}

.dots-4{
    grid-template-areas:
    "aside-1 . aside-4"
    ". . ."
    "aside-3 . aside-2";
}

.dots-5{
    grid-template-areas:
    "aside-1 . aside-2"
    ". aside-3 ."
    "aside-4 . aside-5"
}

.dots-6{
    grid-template-areas:
    "aside-1 . aside-2"
    "aside-3 . aside-4"
    "aside-5 . aside-6"
}

section:nth-child(2){
    margin-top: 5%;
    box-shadow: 5px 5px 10px ;
    height: fit-content;
    display: grid;
    gap:10px;
    border:3px solid rgb(128, 240, 29);
    box-shadow: 5px 5px 12px rgb(141, 240, 43),-5px -5px 12px rgb(170, 252, 63);  
    grid-template: repeat(9,6rem)/repeat(6,7rem);
    grid-template-areas: 
    "header header header header header header"
    "header header header header header header"
    "nav nav nav nav nav nav"
    "main main main main aside aside"
    "main main main main aside aside"
    "main main main main aside aside"
    "main main main main aside aside"
    "footer footer footer footer footer footer"
    "footer footer footer footer footer footer";
}

section:nth-child(2) header{
    background-color: aqua;
    grid-area: header;
}

section:nth-child(2) nav{
    background-color: bisque;
    grid-area: nav;
}

section:nth-child(2) main{
    background-color: coral;
    grid-area: main;
}

section:nth-child(2) aside{
    background-color: rgb(148, 238, 110);
    grid-area: aside;
}

section:nth-child(2) footer{
    background-color: rgb(119, 133, 241);
    grid-area: footer;
}

section:nth-child(3){
    margin-top: 5%;
    box-shadow: 5px 5px 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10%;
    display: grid;
    gap:10px;
    border:3px solid rgb(128, 240, 29);
    box-shadow: 5px 5px 12px rgb(141, 240, 43),-5px -5px 12px rgb(170, 252, 63);  
    grid-template: repeat(11,6rem)/repeat(6,7rem);   
}

section:nth-child(3) nav{
    background-color: antiquewhite;
    grid-row:1/2;
    grid-column:1/7;   
}

section:nth-child(3) header{
    background-color: rgb(171, 171, 245);
    grid-row:2/4;
    grid-column:1/7;

}

section:nth-child(3) footer{
    background-color: rgb(231, 210, 117);
    grid-row:11/12;
    grid-column:1/7;
}

section:nth-child(3) main{
    background-color: rgb(247, 232, 244);
    grid-row:4/9;
    grid-column:1/5;
    display: grid;
    grid-template: repeat(3,1fr)/1fr;
}

section:nth-child(3) main article:nth-child(1){
    border:8px solid rgb(244, 32, 67);
    grid-row:1/2;
    grid-column:1/2;
}

section:nth-child(3) main article:nth-child(2){
    border:8px solid rgb(244, 32, 67);
    border-top: 0;
    grid-row:2/3;
    grid-column:1/2;
}

section:nth-child(3) main article:nth-child(3){
    border:8px solid rgb(244, 32, 67);
    border-top:0;
    grid-row:3/4;
    grid-column:1/2;
}

section:nth-child(3) aside{
    background-color: rgb(163, 235, 247);
    grid-row:4/9;
    grid-column:5/7;

}

 .col-1{
    grid-row:9/10;
    grid-column:1/7;
    display: grid;
    grid-template:1fr/repeat(3,1fr);
    gap:10px;
}

.col-1 div{
    background-color: rgb(244, 174, 161);
}
.col-1 div:nth-child(1){
    grid-row:1/2;
    grid-column:1/2;   
}

.col-1 div:nth-child(2){
    grid-row:1/2;
    grid-column:2/3;
}

.col-1 div:nth-child(3){
    grid-row:1/2;
    grid-column:3/4;
}
.col-2{
    grid-row:10/11;
    grid-column:1/7;
    display: grid;
    grid-template:1fr/repeat(4,1fr);
    gap:10px
}
 .col-2 div{
    background-color: rgb(244, 174, 161);
 }
.col-2 div:nth-child(1){
    grid-row:1/2;
    grid-column:1/2;
}

.col-2 div:nth-child(2){
    grid-row:1/2;
    grid-column:2/3;
}

.col-2 div:nth-child(3){
    grid-row:1/2;
    grid-column:3/4;
}

.col-2 div:nth-child(4){
    grid-row:1/2;
    grid-column:4/5;
}
