body{
    margin: 0;
}

.button{
    padding:.5rem 2rem;
    border-radius: 30px;
    background-color:  var(--default-color);
    color:aliceblue;
    border:none;
    font-size: 20px;
}

.button-success{
    background-color:var(--success-color);
}

.button-warning{
    background-color: var(--warning-color);
}

.button-error{
    background-color: var(--error-color);
}